PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE android_metadata (locale TEXT);
INSERT INTO android_metadata VALUES('en_US');
CREATE TABLE matches (
        match_id INTEGER PRIMARY KEY,
        steam_id TEXT NOT NULL,
        start_time INTEGER NOT NULL,
        duration INTEGER,
        radiant_win INTEGER,
        player_slot INTEGER,
        hero_id INTEGER,
        kills INTEGER,
        deaths INTEGER,
        assists INTEGER,
        gold_per_min INTEGER,
        xp_per_min INTEGER,
        hero_damage INTEGER,
        hero_healing INTEGER,
        tower_damage INTEGER,
        last_hits INTEGER,
        denies INTEGER,
        gpm INTEGER,
        xpm INTEGER,
        net_worth INTEGER,
        lobby_type INTEGER,
        game_mode INTEGER,
        created_at INTEGER NOT NULL
      );
INSERT INTO matches VALUES(8223413388,'76561198314993273',1742581489,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,1750001515275);
INSERT INTO matches VALUES(8223523606,'76561198314993273',1742586940,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,1750001515275);
INSERT INTO matches VALUES(8223597837,'76561198314993273',1742590955,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,7,0,1750001515275);
CREATE TABLE match_details (
        match_id INTEGER PRIMARY KEY,
        full_data TEXT NOT NULL,
        created_at INTEGER NOT NULL,
        FOREIGN KEY (match_id) REFERENCES matches (match_id)
      );
CREATE INDEX idx_matches_steam_id ON matches(steam_id);
CREATE INDEX idx_matches_start_time ON matches(start_time);
COMMIT;
